<div class="container">
    <div>
        <h2>Modifier un Avion :</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Avion</label>
            <input readonly type="text" [(ngModel)]="currentAvion.idAvion" name="idAvion" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Avion</label>
            <input type="text" [(ngModel)]="currentAvion.nomAvion" name="nomAvion" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Avion</label>
            <input type="number" [(ngModel)]="currentAvion.prixAvion" name="prixAvion" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentAvion.dateCreation | date: 'yyyy-MM-dd'" 
            (ngModelChange)=" currentAvion.dateCreation= $event" name="dateCreation"  class="form-control">
        </div>

         <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Vol</label>
            <select class="form-control form-control-lg" id="idVol" name="idVol" [(ngModel)]="updatedVolId">
                <option *ngFor="let vol of vols" [value]="vol.idVol">
                    {{vol.nomVol}}
                </option>  
            </select>
        </div> 

        <div class="mt-2">
            <button type="submit" (click)="updateAvion()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>